@page "{studentId:long}"
@model CardiffMetroUni.StudentEnrollment.WebApp.Pages.Student.EditStudentModel

<h1 class="display-4">Student Enrollment - Edit Student</h1>


@if (Model.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <h4>Validation Errors:</h4>
        <hr />
        <ul>
            @foreach (var error in Model.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}



<form method="post">
    @Html.AntiForgeryToken()
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Edit Student </h5>
                <p>Please complete the member details below and click submit:</p>
            </div>
            <div class="card-body">
                <partial name="Partials/Views/StudentView" for="Student" />
            </div>
        </div>
    </div>

    <div class="text-center m-t-20">

        <button type="submit" class="btn btn-success">
            Save Changes
        </button>

        <a asp-page="/Index" class="btn btn-warning">
            Cancel
        </a>
    </div>
</form>